<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-header">
    <a class="navbar-brand header-logo" ui-sref="home" href="#"></a>
  </div>
  <div class="div-application-title">
    <label class="application-title">Angular SPA Application</label>
  </div>
  <div class="loged-user navbar-nav ml-auto">
    <span class="nav-item disabled loged-user-style" >Bem vindo, {{ nomeUsuario }}!</span>
    <a class="nav-item loged-user-style" href="#" (click)="sair()">Sair</a>
  </div>
</nav>