.header-logo {
    content: url('../../../../assets/img/hcor_logo_transparente.png');
    padding: 10px;
    height: 100px;
}

.loged-user-style{
    color: black;
    padding-left: .5rem;
    padding-right: .5rem;
}

.div-application-title{
    margin-left: 6%;
}

.application-title {
    color: #0469bf;
    font-size: 45px;
    font-weight: bold;
}




.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 13% 0% 0% 45%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    opacity: 0.9;
    z-index: 999999;
    transition: opacity .8s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(225,225,225);
}

.loader-title{
    margin: 0% 0% 0% 43%;
    color: #034D8C;
}